<a href="https://colab.research.google.com/github/gunjan7858903606/DeepLearning/blob/main/Untitled61.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q.1
ans=A

In [ ]:
Q.2
ans=A

In [ ]:
Q.3
ans=A

In [ ]:
Q.4
ans=B

In [ ]:
Q.5
ans=A

In [ ]:
Q.6
ans=C

In [ ]:
Q.7
ans=B

In [ ]:
Q.8
ans=A

In [ ]:
Q.9
ans=C

In [ ]:
Q.10
ans=D

In [ ]:
Q.11
ans=B

In [ ]:
Q.12
ans=B

In [ ]:
Q.13
ans=B

In [ ]:
Q.14
ans=A

In [ ]:
Q.15
ans=D

In [ ]:
Q.16
ans=B

In [ ]:
Q.17
ans=A

In [ ]:
Q.18
ans=A

In [ ]:
Q.19
ans=C

In [ ]:
Q.20
ans=B

In [ ]:
Q.21
ans=A

In [ ]:
Q.22
ans=B

In [ ]:
Q.23
ans=A

In [ ]:
Q.24
ans=A

In [ ]:
Q.25
ans=C

In [ ]:
Q.26
ans=A

In [ ]:
#problem.1

In [1]:
def calculate_performance(employees):
    evaluated_employees = []

    for employee in employees:
        name = employee['name']
        scores = employee['scores']
        weights = employee['weights']

        performance_score = sum(scores[criterion] * weights[criterion] for criterion in scores)

        evaluated_employee = {
            'name': name,
            'performance_score': performance_score
        }

        evaluated_employees.append(evaluated_employee)

    return evaluated_employees

In [2]:
# Sample input
employees = [
    {
        'name': 'John',
        'scores': {'Quality of Work': 90, 'Team Collaboration': 80},
        'weights': {'Quality of Work': 0.6, 'Team Collaboration': 0.4}
    },
    {
        'name': 'Alice',
        'scores': {'Quality of Work': 85, 'Team Collaboration': 90},
        'weights': {'Quality of Work': 0.5, 'Team Collaboration': 0.5}
    },
    # Add more employee entries as needed
]

evaluated_employees = calculate_performance(employees)

for employee in evaluated_employees:
    print(f"{employee['name']}: Performance Score = {employee['performance_score']}")

John: Performance Score = 86.0
Alice: Performance Score = 87.5

In [3]:
#problem no-2
def calculate_final_grades(N, M, marks):
    # Initialize a list to store the average scores for each subject
    subject_averages = [sum(marks[i][j] for i in range(N)) / N for j in range(M)]

    # Find the index of the subject with the lowest average score
    lowest_avg_subject_index = subject_averages.index(min(subject_averages))

    # Calculate the total score for each student after deducting the lowest average subject score
    final_scores = []
    for i in range(N):
        total_score = sum(marks[i])
        total_score -= marks[i][lowest_avg_subject_index]
        final_scores.append(total_score)

    return final_scores

In [4]:
# Sample input
N = 3
M = 4
marks = [
    [90, 85, 80, 75],
    [70, 75, 85, 90],
    [80, 90, 70, 75]
]

final_grades = calculate_final_grades(N, M, marks)

for i in range(N):
    print(f"Student {i + 1}: Final Grade = {final_grades[i]}")

Student 1: Final Grade = 250
Student 2: Final Grade = 235
Student 3: Final Grade = 245

In [5]:
#problem -3
def sort_employees_by_id(employees):
    # Sort the employees list by 'id' in ascending order
    sorted_employees = sorted(employees, key=lambda x: x['id'])
    return sorted_employees

def sort_employees_by_salary(employees):
    # Sort the employees list by 'salary' in descending order
    sorted_employees = sorted(employees, key=lambda x: x['salary'], reverse=True)
    return sorted_employees

In [6]:
# Sample input
employees = [
    {"id": 101, "name": "John", "salary": 60000},
    {"id": 103, "name": "Alice", "salary": 75000},
    {"id": 102, "name": "Bob", "salary": 65000},
    # Add more employee records here...
]

# Sort employees by ID
sorted_by_id = sort_employees_by_id(employees)
for employee in sorted_by_id:
    print(employee)

# Sort employees by salary
sorted_by_salary = sort_employees_by_salary(employees)
for employee in sorted_by_salary:
    print(employee)

{'id': 101, 'name': 'John', 'salary': 60000}
{'id': 102, 'name': 'Bob', 'salary': 65000}
{'id': 103, 'name': 'Alice', 'salary': 75000}
{'id': 103, 'name': 'Alice', 'salary': 75000}
{'id': 102, 'name': 'Bob', 'salary': 65000}
{'id': 101, 'name': 'John', 'salary': 60000}

In [7]:
#problem 4
def find_kth_prime_product(N, prime_numbers, K):

    generated_numbers = [1]


    current_indices = [0] * N


    while len(generated_numbers) < K:

        min_product = min(prime_numbers[i] * generated_numbers[current_indices[i]] for i in range(N))

        # Add the minimum product to the generated numbers list
        generated_numbers.append(min_product)

        # Update the indices of the prime numbers used for the minimum product
        for i in range(N):
            if prime_numbers[i] * generated_numbers[current_indices[i]] == min_product:
                current_indices[i] += 1

    # The Kth number is the last number in the generated_numbers list
    return generated_numbers[K - 1]

In [8]:
# Sample input
N = 3  # Number of prime numbers
prime_numbers = [2, 3, 5]  # Dylan's collection of prime numbers
K = 4  # Find the 4th number Dylan can create

# Find the Kth number
result = find_kth_prime_product(N, prime_numbers, K)
print(result)  # Output: 10 (since 2 * 5 = 10)

4

In [9]:
#problem- 7
def longest_common_subsequence(s1, s2):
    m, n = len(s1), len(s2)

    # Create a 2D table to store the length of the longest common subsequence
    dp = [[0] * (n + 1) for _ in range(m + 1)]

    # Fill the table using dynamic programming
    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if s1[i - 1] == s2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
            else:
                dp[i][j] = max(dp[i - 1][j], dp[i][j - 1])

    # The value in the bottom-right corner of the table contains the length of the longest common subsequence
    return dp[m][n]

# Example usage:
s1 = "AGGTAB"
s2 = "GXTXAYB"
result = longest_common_subsequence(s1, s2)
print(result)  # Output: 4 (longest common subsequence is "GTAB")

4

In [10]:
#problem -8

def spiral_order(matrix):
    if not matrix:
        return []

    result = []
    row_start, row_end, col_start, col_end = 0, len(matrix) - 1, 0, len(matrix[0]) - 1

    while row_start <= row_end and col_start <= col_end:
        # Traverse right
        for j in range(col_start, col_end + 1):
            result.append(matrix[row_start][j])
        row_start += 1

        # Traverse down
        for i in range(row_start, row_end + 1):
            result.append(matrix[i][col_end])
        col_end -= 1

        # Traverse left (if necessary)
        if row_start <= row_end:
            for j in range(col_end, col_start - 1, -1):
                result.append(matrix[row_end][j])
            row_end -= 1

        # Traverse up (if necessary)
        if col_start <= col_end:
            for i in range(row_end, row_start - 1, -1):
                result.append(matrix[i][col_start])
            col_start += 1

    return result

# Example usage:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
result = spiral_order(matrix)
print(result)  # Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]

[1, 2, 3, 6, 9, 8, 7, 4, 5]

In [11]:
#problem - 9
def is_valid(board, row, col, num):
    # Check if 'num' is already present in the row
    if num in board[row]:
        return False

    # Check if 'num' is already present in the column
    if num in [board[i][col] for i in range(9)]:
        return False

    # Check if 'num' is already present in the 3x3 subgrid
    subgrid_row, subgrid_col = 3 * (row // 3), 3 * (col // 3)
    for i in range(subgrid_row, subgrid_row + 3):
        for j in range(subgrid_col, subgrid_col + 3):
            if board[i][j] == num:
                return False

    return True

def solve_sudoku(board):
    for row in range(9):
        for col in range(9):
            if board[row][col] == 0:
                for num in range(1, 10):
                    if is_valid(board, row, col, num):
                        board[row][col] = num
                        if solve_sudoku(board):
                            return True
                        board[row][col] = 0  # Backtrack
                return False
    return True

# Example usage:
sudoku_board = [
    [5, 3, 0, 0, 7, 0, 0, 0, 0],
    [6, 0, 0, 1, 9, 5, 0, 0, 0],
    [0, 9, 8, 0, 0, 0, 0, 6, 0],
    [8, 0, 0, 0, 6, 0, 0, 0, 3],
    [4, 0, 0, 8, 0, 3, 0, 0, 1],
    [7, 0, 0, 0, 2, 0, 0, 0, 6],
    [0, 6, 0, 0, 0, 0, 2, 8, 0],
    [0, 0, 0, 4, 1, 9, 0, 0, 5],
    [0, 0, 0, 0, 8, 0, 0, 7, 9]
]

solve_sudoku(sudoku_board)

# Print the solved Sudoku puzzle
for row in sudoku_board:
    print(row)

[5, 3, 4, 6, 7, 8, 9, 1, 2]
[6, 7, 2, 1, 9, 5, 3, 4, 8]
[1, 9, 8, 3, 4, 2, 5, 6, 7]
[8, 5, 9, 7, 6, 1, 4, 2, 3]
[4, 2, 6, 8, 5, 3, 7, 9, 1]
[7, 1, 3, 9, 2, 4, 8, 5, 6]
[9, 6, 1, 5, 3, 7, 2, 8, 4]
[2, 8, 7, 4, 1, 9, 6, 3, 5]
[3, 4, 5, 2, 8, 6, 1, 7, 9]